@mixin itemParams() {
  height: 31vw;
  width: 54vw;
}

// .swiper-button-prev,
// .swiper-button-next {
//   border-radius: 5px;
//   height: 70px;
//   width: 50px;
//   background-color: #7e7e7e71;
// }

.sliderMain {
  user-select: none;
  cursor: pointer;
  margin: auto;
  margin-top: 106px;
  @include itemParams();
  width: 100%;
  .item {
    @include itemParams();
    border-radius: 23px;
    overflow: hidden;
    img {
      @include itemParams();
      pointer-events: none;
    }
    .item_text {
      position: absolute;
      top: 74%;
      left: 5%;
      color: white;
    }
    .item_title {
      font-family: sans-serif;
      font-weight: 800;
      width: 700px;
      line-height: 38px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: clamp(1rem, 0.738rem + 1.31vw, 2.313rem);
    }
  }
}
