@mixin itemParams() {
  height: 578px;
  width: 1030px;
}
.ratingColorGreen {
  background-color: #04942f;
}
.ratingColorOrange {
  background-color: #cc780a;
}
.ratingColorRed {
  background-color: #c90d0d;
}
.sliderMain {
  user-select: none;
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  @include itemParams();
  width: 100%;
  .item {
    @include itemParams();
    border-radius: 23px;
    overflow: hidden;
    img {
      @include itemParams();
      pointer-events: none;
    }
    .item_text {
      position: absolute;
      top: 420px;
      left: 50px;
      color: white;
    }
    .item_title {
      font-family: sans-serif;
      font-weight: 800;
      width: 700px;

      font-size: 37px;
    }
    .item_info {
      margin-top: 10px;
      display: flex;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 20px;
      align-items: center;
      .rating {
        border-radius: 7px;
        font-size: 18px;
        margin-right: 14px;
        padding: 5px 6px;
      }
      .year {
        margin-right: 14px;
      }
      .genres {
        margin-right: 14px;
        display: flex;
      }
      .age {
        margin-left: 14px;
      }
    }
  }
}
