.main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
  border-top: 0.5px solid #292929;
  padding-top: 50px;
  margin-right: 4.7vw;
  .infoBlock {
    color: #ffffffdb;
    min-width: 300px;
    max-width: 550px;
    &:first-child {
      max-width: 400px;
    }
    &:not(:last-child) {
      padding-right: 140px;
    }
    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 38px;
    }
    .info {
      font-size: 20px;
      &:not(:last-child) {
        margin-bottom: 28px;
      }
      .itemTitle {
        color: #ffffff80;
      }
      .itemParams {
        cursor: pointer;
      }
    }
  }
}
