.main {
  .inputBlock {
    margin: 0 80px;
    // align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .input {
      position: relative;
      & input {
        color: #c7c7c7;
        width: 260px;
        padding: 16px;
        border-radius: 15px;
        font-size: 16px;
        transition: 0.18s;
        border: 2px solid gray;
        background-color: rgba(0, 0, 0, 0.148);
        &:focus {
          outline: none;
          border: 2px solid #ffffff;
        }
      }
      .svg {
        position: absolute;
        cursor: pointer;
        left: 257px;
        top: 14px;
        transition: 0.17s ease-in-out;
        border-radius: 20%;
        opacity: 1;
        visibility: visible;

        &:hover {
          color: black;
          background-color: rgb(77, 77, 77);
        }
        &Hiden {
          transition: 0.17s ease-in-out;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .title {
      display: flex;
      justify-content: start;
      margin-bottom: 8px;
      padding-left: 7px;
    }
    .forgot {
      padding-left: 7px;
      margin-top: 8px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
