.ratingColorGreen {
  background-color: #04942f;
}
.ratingColorOrange {
  background-color: #cc780a;
}
.ratingColorRed {
  background-color: #c90d0d;
}
.main {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 15px 15px 0 0;
  &:hover {
    transform: scale(1.2);
  }
  .image {
    height: 155px;
    width: 100%;
    border-radius: 20px;
  }
  .textBlock {
    //   visibility: hidden;
    //   position: absolute;
  }
}
.item_text {
  position: absolute;
  top: 420px;
  left: 50px;
  color: white;
}
.item_title {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 37px;
}
.item_info {
  margin-top: 10px;
  display: flex;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  .rating {
    border-radius: 7px;
    font-size: 18px;
    margin-right: 14px;
    padding: 5px 6px;
  }
  .year {
    margin-right: 14px;
  }
  .genres {
    margin-right: 14px;
    display: flex;
  }
  .age {
    margin-left: 14px;
  }
}
