.ratingColorGreen {
  background-color: #04942f;
}
.ratingColorOrange {
  background-color: #cc780a;
}
.ratingColorRed {
  background-color: #c90d0d;
}
@media screen and (man-width: 2200px) {
  .image {
    height: 100px;
    width: 100px;
  }
}
.main {
  transition: all 0.28s ease-in-out;
  cursor: pointer;
  margin-bottom: -68px;
  max-width: 325px;
  .imageBorderLow {
    height: 183px;
    width: 325px;
    .image {
      height: 100%;
      width: 100%;
      border-radius: 16px;
    }
  }
  .imageBorderBig {
    height: 500px;
    width: 325px;
    .image {
      height: 100%;
      width: 100%;
      border-radius: 16px;
    }
  }
  .textBlock {
    // display: none;
    visibility: hidden;
    border-radius: 0 0 16px 16px;
    background-color: #1b1b1b;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 16px;
    margin-top: -10px;
    .filmName {
      font-size: 19px;
      margin-top: 7px;
      margin-bottom: 6px;
    }
    .text {
      align-items: center;
      display: flex;
      flex-direction: row;

      .rating {
        border-radius: 5px;
        font-size: 11px;
        margin-right: 7px;
        padding: 5px 4px;
      }
      .year {
        margin-right: 8px;
      }
      .genres {
        margin-right: 8px;
        display: flex;
      }
      .age {
        margin-left: 8px;
      }
    }
    .buttons {
      .btnMore {
        margin-top: 8px;
        padding: 7px 10px;
        display: inline-block;
        border: none;
        font-size: 14px;
        border: 1.5px solid rgba(0, 0, 0, 0);
        font-weight: 500;
        background: linear-gradient(to top right, #2b0071, #4e00cc, #6f15ff);
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          background: linear-gradient(to right, #2b0071, #5301d8, #6f15ff);
          border: 1px solid white;
        }
      }
    }
  }
  &:hover {
    transform: scale(1.3);
    position: absolute;
    .image {
      border-radius: 16px 16px 0 0;
    }
    .textBlock {
      visibility: visible;
      // display: block;
    }
  }
}
