.main {
  margin-top: 56px;
  width: 50%;
  font-weight: bold;
  .title {
    font-size: 45px;
    margin-bottom: 9px;
  }
  .info {
    color: #b7b7b7;
    font-size: 19px;
    line-height: 29px;
  }
}
