$headerTextColor: #ffffff;

@mixin btn() {
  cursor: pointer;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.2s ease-in-out;
  width: 100%;
  background-color: #000000;
  color: #ababab;
  display: grid;
  font-family: sans-serif;
  font-weight: 700;
  place-items: center;
  height: 66px;
  .header {
    display: flex;
    width: 88vw;
    justify-content: space-between;
    .headerLeft {
      img {
        @include btn();
      }
      align-items: center;
      display: flex;
      .genres {
        a {
          text-decoration: none;
          color: #ababab;
        }
        margin-left: 90px;
        font-size: 17px;
        display: flex;
        div {
          @include btn();
          margin-right: 29px;
          transition: 0.2s ease-in-out;
          &.active {
            color: $headerTextColor;
            text-decoration: underline;
          }
          &:hover {
            color: $headerTextColor;
          }
        }
      }
    }
    .headerRight:not(.searchBar) {
      display: flex;
      align-items: center;

      .user {
        font-size: 17px;
        width: 88px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include btn();
        transition: 0.2s ease-in-out;
        &:hover {
          color: $headerTextColor;
        }
        span {
          margin-top: 5px;
        }
      }
    }
  }
}
.header_active {
  top: -66px;
}
.buttonBack {
  position: relative;
  left: -40px;
  transition: 0.2s;
  &:hover {
    color: rgb(205, 205, 205);
    cursor: pointer;
  }
}
