.text {
  width: 48vw;
  font-size: 1.1vw;
  font-family: sans-serif;
  line-height: 26px;
  color: #ababab;
  font-weight: bold;
  .showMore {
    cursor: pointer;
    color: #8776f9;
    margin-bottom: 30px;
  }
}
