.main {
  background-color: #101011;
  padding: 2vw;
  font-size: 1.1vw;
  border-radius: 18px;
  max-width: 37vw;
  max-height: 149px;
  h3 {
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.45);
  }
  .stars {
    display: flex;
    margin-top: 26px;
    .starBlock {
      height: 56px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0 5px;
      .svg {
        height: 100%;
        width: 100%;
        transition: 0.2s ease-in-out;
      }
      .count {
        font-size: 0.9vw;
        color: #080808;
        font-weight: bold;
        position: absolute;
      }
    }
    &:hover li {
      .svg {
        fill: white;
      }
    }
    &:hover li:hover ~ li {
      .svg {
        fill: #8b88927c;
      }
    }
    & li {
      .svg {
        fill: #8b88927c;
      }
    }
  }
}
