.main {
  display: flex;
  width: 100%;
  .resetBtn {
    cursor: pointer;
    color: #8776f9;
    margin-bottom: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}
